$border: #66B3FD;

$dkgreen: #334F00;
$green: #789E35;

$background: #C2E1FF;
$highlight: #91C9FF;
$sidebar: #DCEBFA;
$topbar: #FFF2BD;
$dropdown: #FFDF5B;


$nav-hover: #FF805B;
$text: #000;

@import 'home';
@import 'fonts';
@import 'sidebar';

body {
  background: $background !important;
}