<h2>Add Song</h2>
<form method="POST" action="/song">
  <div>
    <label for="genre">Song Genre</label>
    <input type="text" id="genre" name="genre"/>
    <label for="title">Song Title</label>
    <div class="input">
      <input type="text" id="title" name="title"/>
      <button type="submit" class="fa fa-chevron-right">
      </button>
    </div>
  </div>
</form>