<h2>Search for Songs by ID</h2>
<form action="/song">
  <div>
    <div class="input">
      <input type="text" name="id" id="id"/>
      <button type="submit" class="fa fa-search fa-3">
      </button>
    </div>
  </div>
</form>
