<div class="col-md-12 full-content">

<h2>Search</h2>

<form action="/results">
  <div>
    <label for="value">Song id or name</label>
    <div class="input">
      <input type="text" name="value" id="value"/>
      <button type="submit" class="fa fa-search fa-3">
      </button>
    </div>
  </div>
</form>

</div>
