<div class="col-md-12 full-content">

<h2>Genres</h2>

<div class="main-table">
  <% @genres.each do |genre| %>
    <div class="list-container">
      <div class="list-info">
        <div class="list-info-left">
          <div class="list-title">
            <a href="/genres/<%=genre.id%>"><%= genre.name %></a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>
