<!DOCTYPE html>
<html>
  <head>
    <title>Songify</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="<%= url('/script.js') %>"></script>
  </head>
  <body>
    <div id="container">
      <header id="header">
        <div class="header-wrapper">
          <div class="logo">
            songify      
          </div>
          <nav id="nav">
            <div class="wrapper">
              <ul>
                <li><a href="/">home</a></li>
                <li class="add">
                  <a href="#">add</a>
                  <ul class="sub">
                    <li><a href="/songs/new">song</a></li>
                    <li><a href="/genres/new">genre</a></li>
                  </ul>
                </li>
                <li><a href="/find">find</a></li>
                <li><a href="/genres">genres</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div id="main" class="content">
        <div class="wrapper">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>