<div class="col-md-12 full-content">

<h2>Add Genre</h2>
<form method="POST" action="/genres">
  <div>
    <label for="name">Genre Name</label>
    <div class="input">
      <input type="text" id="name" name="name"/>
      <button type="submit" class="fa fa-chevron-right">
      </button>
    </div>
  </div>
</form>

</div>